.MatchPlayerDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  align-content: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f1f1f1;
  margin: 5px auto 5px auto;
  min-height: 50px;
  border-radius: 15px;
}

.MatchPlayerInfo {
  display: flex;
  flex-direction: row;
}

.MatchPlayerInfoName {
  font-size: 25px;
  color: darkgray;
  margin: auto;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

.MatchPlayerInfoNumber {
  font-size: 35px;
  color: darkgrey;
  margin: auto;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}
