.teamStatisticsByReferee {
  display: flex;
  flex-direction: column;
}

.teamsStatisticsByReferee {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.requestButton {
  width: 200px;
  min-height: 50px;
  border-radius: 15px;
  background: #45a29e;
  color: white;
  font-size: 20px;
  margin-top: 100px;
}
