.flex {
  display: flex;
}

.mainContainer {
  flex-direction: column;
  background-color: #0b0c10;
  border-radius: 20px;
  padding-bottom: 10px;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 20px;
}

.header {
  color: #66fcf1;
  font-size: 50px;
  text-align: left;
}

.newsHeader {
  color: #45a29e;
  font-size: 30px;
  padding-left: 3%;
}

.newsDate {
  color: #c5c6c7;
  font-size: 15px;
  padding-left: 3%;
}

.newsText {
  color: #c5c6c7;
  font-size: 20px;
  padding-left: 1%;
  padding-right: 1%;
  text-align: left;
}

.newsContainer {
  margin-bottom: 20px;
}

.linkContainer {
  color: #c5c6c7;
}

.columnFlex {
  flex-direction: column;
}

.buttonOnRight {
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 5px;
  height: inherit;
}
