.RequestButton {
}

.RequestButton {
  width: 18%;
  background-color: #45a29e;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 2px;
  border-radius: 20px;
  font-weight: bold;
}

.RequestButton:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.RequestButton:disabled {
  color: #ccc;
  cursor: not-allowed;
}
