.LeagueHeader {
  width: 70%;
  background-color: #d3d3d3;
  font-size: 18px;
  margin: auto;
  border-radius: 15px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;
}

.RequestButton {
  width: 18%;
  background-color: #45a29e;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  border-radius: 20px;
  font-weight: bold;
  margin: auto;
  margin-right: 20px;
  height: 40px;
}

.RequestButton:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.RequestButton:disabled {
  color: #ccc;
  cursor: not-allowed;
}
