.kg-nav {
  background-color: #0b0c10;
  color: white;
  padding: 20px;
}

.kg-nav-list {
  font-size: 25px;
  padding: 10px;
}

.kg-nav-item {
  color: white;
}
.kg-nav-item:hover {
  color: yellow;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: red !important;
  background-color: blue !important;
  background-image: none !important;
  filter: none !important;
}

.dropdown-menu-normal:hover,
.dropdown-menu-normal a:hover {
  background: transparent !important;
  color: #5cac7c;
  text-decoration: underline !important;
  text-align: right;
  float: right;
}

.dropdown-menu-normal,
.dropdown-menu-normal a {
  color: #5cac7c !important;
  text-align: right;
  float: right;
}

.rightNavBarElement {
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100% !important;
  flex: 1;
}
