.kg-nav {
  background-color: #0b0c10;
  color: white;
  padding: 20px;
}

.kg-nav-list {
  font-size: 25px;
  padding: 10px;
}

.kg-nav-item {
  color: white;
}
.kg-nav-item:hover {
  color: yellow;
}

.nav-dropdown {
  color: black;
  font-weight: bold;
  background-color: red;
}

.dropdown-link a {
  background: red !important;
  color: yellow !important;
}
