.ClubDetails {
  display: flex;
  flex-direction: column;
  margin-top: 1.5%;
  margin-left: 38%;
}
.Span {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.noTeamLabel {
  margin-bottom: 15px;
  font-size: 30px;
  color: #c5c6c7;
  border-bottom: 5px dotted #c5c6c7;
}
.lineSeparator {
  margin-top: 10px;
  margin-bottom: 10px;
}
span {
  text-align: center;
  vertical-align: middle;
}

span:hover {
  cursor: pointer;
  color: #45a29e;
}

.Active {
  color: #45a29e;
}

.containClass {
  object-fit: contain;
}
