.TeamInvitations {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 45px;
  margin-top: 30px;
}

.TeamInvitation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f1f1f1;
  margin: 5px auto 5px auto;
  min-height: 50px;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
}

.TeamInvitationInfo {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  color: #a9a9a9;
  margin: auto;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
}

.TeamInvitationOptions {
  margin: auto;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
}

.TeamInvitationOption {
  cursor: pointer;
  margin-right: 15px;
}

.TeamInvitationHeader {
  width: 80%;
  color: #1f2833;
  background-color: #45a29e;
  padding: 10px;
  font-size: 24px;
  border-radius: 15px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.TeamInvitationName {
  font-size: 20px;
  margin-left: 10px;
}

.TeamInvitationLeague {
  font-size: 16px;
  margin-right: 10px;
}
