.LabelTitle {
  margin: 20px 5px 0px 0px;
  color: #c5c6c7;
}
.LabelValue {
  margin: 20px 0px 0px 0px;
  color: whitesmoke;
}

.BigLabel {
  margin: 30px 0px 0px 0px;
  color: whitesmoke;
  font-size: 20px;
}

.PlayerDetail {
  display: flex;
  flex-direction: row;
  border-bottom: dashed 1px #c5c6c7;
  padding-left: 10px;
  padding-bottom: 2px;
}
