.flex {
  display: flex;
}

.picSection {
  width: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.textSection {
  flex: 2;
  flex-direction: column;
  justify-content: flex-start;
}

.marginSection {
  flex: 2;
}

.mainContainerTeamPanel {
  flex: 1;
  flex-direction: column;
  background-color: #fff;
}

.topSection {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  max-height: 250px;
  background-color: #1f2833;
  color: white;
}

.bottomSection {
  flex: 1;
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: column;
}

.bigFontBigMargin {
  font-size: 40px;
}

.mediumFontMediumMargin {
  font-size: 25px;
  padding-left: 3px;
}

.mediumMarginWithBorder {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ffffff50;
}

.img {
  height: 100%;
  max-width: 300px;
}

.menuSection {
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  margin-top: 20px;
  background-color: #fff;
}

.buttons {
  flex: 1;
  font-size: 25px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #45a29e;
  border: 1px solid;
}

.rightMargin {
  margin-right: 10px;
}

.inactiveColor {
  color: #1f2833;
  border-color: transparent;
}

.activeColor {
  color: white;
  border-color: black;
}

.big {
  height: 40px;
}
